@import '../styles/mixin.styl'

.pageloading
    width 100vw
    height 100vh
    flexbox()
    justify-content(center)
    align-items(center)
    overflow hidden
    background #fff
    px2px(30)
    .loading-banner
        width 100%
        height px2rem(450)
        background #dedede
    .loading-namebox
        flexbox()
        justify-content(space-between)
        align-item(center)
        margin-top px2rem(32)
        padding 0 px2rem(31)
        .loading-name
            width 100%
            .loading-nametit
                width px2rem(432)
                height px2rem(50)
                margin-bottom px2rem(30)
                background #dedede
        .loading-logo
            width px2rem(280)
            height px2rem(210)
            background #dedede
    .loading-scrollnotice
        width px2rem(688)
        height px2rem(80)
        background #dedede
        margin px2rem(18) px2rem(31) 0 px2rem(31)
    .loading-product-con
        height px2rem(320)
        background #dedede
        margin px2rem(30) px2rem(31) 0 px2rem(31)
    .loading-product-con2
        height px2rem(80)
        background #dedede
        margin px2rem(30) px2rem(31) 0 px2rem(31)






